/* /////////////////////////////////////////////////////////////////// */

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* /////////////////////////////////////////////////////////////////// */

/* APP */
.app {
  height: 100svh;
  align-items: center;
  touch-action: manipulation;
  background-image: linear-gradient(
    to bottom,
    #150d17,
    #31518c,
    #2f82a8,
    #67aeb8,
    #8ccfbc
  );
}

/* PLAYER */
.player-container {
  position: relative;
  height: 50svh;
  width: min(100svw, 60rem);
  padding-bottom: env(safe-area-inset-bottom);
  border-top: #ffffff 1px solid;
}

.player-180 {
  rotate: 180deg;
}

.counter,
.dice-container {
  height: clamp(14rem, 25vw, 66%);
}

.dice-icon {
  width: clamp(9rem, 16.8vw, 12rem);
}

.counter {
  width: min(38%, 15rem);
  gap: 0.5rem;
}

.modifier {
  font-size: clamp(2rem, 4vw, 2.7rem);
  top: -3%;
}

.menu {
  height: 20%;
  justify-content: space-around;
  align-items: center;
}

.menu-icon {
  width: clamp(2.5rem, 5vw, 3.5rem);
}

.extra-mode {
  gap: 1rem;
}

/* /////////////////////////////////////////////////////////////////// */

/* BUTTONS */
.btn {
  font-size: clamp(3rem, 7vw, 5rem);
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-mana {
  height: 16%;
  border-radius: 0.5rem;
  border: #ffffff 1px solid;
}

.btn-counter {
  height: calc(80% - env(safe-area-inset-bottom));
  width: 30%;
}

.btn-reset {
  height: 25%;
  border-bottom: #ffffff 1px solid;
}

.btn-menu {
  width: 20%;
}

.btn-active {
  background-color: #ffffff15;
  border-top: #ffffff 1px solid;
}

.btn-extra {
  height: 19%;
  width: min(60%, 20rem);
  border-radius: 0.5rem;
  border: #ffffff 1px solid;
}

.btn-tap {
  -webkit-tap-highlight-color: #ffffff15;
}

.btn-tap-none {
  -webkit-tap-highlight-color: transparent;
}

/* /////////////////////////////////////////////////////////////////// */

/* UTILITY CLASSES */
.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.bottom-3 {
  bottom: calc(3% - (env(safe-area-inset-bottom) / 2));
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-80 {
  height: 80%;
}

.h-60 {
  height: 60%;
}

/* TEXT */
.xl-text {
  font-size: clamp(8rem, 15vw, 10rem);
}

.l-text {
  font-size: clamp(7rem, 14vw, 9rem);
}

.xxs-text {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.xxxs-text {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.text {
  color: #ffffff;
  text-shadow: #7eca9c 0px 0px 6px;
}

.dead {
  color: #b9fda5;
  text-shadow: #7eca9c 0px 0px 6px;
}

.neon-effect {
  filter: drop-shadow(#7eca9c 0px 0px 6px);
}

/* /////////////////////////////////////////////////////////////////// */

/* BACKGROUND COLORS FOR MANA BUTTONS */
/* Normal */
.bg-u {
  background-color: #64bfff60;
}

.bg-b {
  background-color: #00000060;
}

.bg-w {
  background-color: #ffffff60;
}

.bg-r {
  background-color: #ff000060;
}

.bg-g {
  background-color: #218c4c60;
}

/* Selected */
.bg-u-selected {
  background-color: #0095ff;
}

.bg-b-selected {
  background-color: #000000;
}

.bg-w-selected {
  background-color: #ffffff;
}

.bg-r-selected {
  background-color: #ff0000;
}

.bg-g-selected {
  background-color: #00ee5f;
}

/* /////////////////////////////////////////////////////////////////// */

/* MEDIA QUERIES */

/* LANDSCAPE - DISPLAY NONE */
/* MOBILE AND SOME TABLETS */
@media only screen and (any-pointer: coarse) and (max-width: 1000px) and (orientation: landscape) {
  .app {
    justify-content: center;
    align-items: center;
  }

  .app::before {
    content: "UNTAP your device :D";
    font-size: clamp(3rem, 7vw, 5rem);
    color: #ffffff;
  }

  .player-container {
    display: none;
  }
}

/* LANDSCAPE */
/* SCREENS WITH LOW HEIGHT LIKE NEST HUB */
@media only screen and (any-pointer: coarse) and (width >= 1000px) and (height >= 580px) and (height <= 749px) and (orientation: landscape) {
  .xl-text,
  .l-text {
    font-size: 6.5rem;
  }

  .xxs-text {
    font-size: 1.5rem;
  }

  .dice-container {
    height: 11.5rem;
  }

  .dice-icon {
    width: 7rem;
  }

  .modifier {
    font-size: 1.5rem;
    top: 12%;
  }
}

/* BIG TABLETS AND CONVERTIBLE PCs */
@media only screen and (any-pointer: coarse) and (width >= 1000px) and (height >= 750px) and (height <= 950px) and (orientation: landscape) {
  .xl-text,
  .l-text {
    font-size: 7rem;
  }

  .dice-icon {
    width: 8rem;
  }

  .modifier {
    font-size: 2rem;
    top: 0%;
  }
}

/* PORTRAIT */
/* SMALL SCREENS LIKE IPHONE SE AND GALAXY FOLD */
@media only screen and (height <= 670px) and (orientation: portrait) {
  .xl-text,
  .l-text {
    font-size: 6.5rem;
  }

  .xxs-text {
    font-size: 1.5rem;
  }

  .dice-container {
    height: 11.5rem;
  }

  .dice-icon {
    width: 7rem;
  }

  .modifier {
    font-size: 1.5rem;
    top: 10%;
  }
}
